.listar-produto {
  margin-left: 10px;
  min-width: 80em;
  max-width: 100em;
}

.car-action{
  max-height: 100px;
}

.mat-card{
  background-color: black;
  color: chartreuse;
}

.sub{
  color: chartreuse;
}
