#home {
  text-decoration: none;
  color: chartreuse;
}

.toolbar-menu {
  background-color: black;
  color: chartreuse;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-menu-content {
  background-color: black;
  color: chartreuse;
}
