<p>
  <mat-toolbar class="toolbar-menu">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/cadastrarcliente']">
          <mat-icon>group_add</mat-icon>
          <span>Cadastrar cliente</span>
        </button>
        <button mat-menu-item [routerLink]="['/listagemcliente']">
          <mat-icon>contacts</mat-icon>
          <span>Listar clientes</span>
        </button>
        <button mat-menu-item [routerLink]="['/cadastrarproduto']">
          <mat-icon>add_shopping_cart</mat-icon>
          <span>Cadastrar produto</span>
        </button>
        <button mat-menu-item [routerLink]="['/listagemproduto']">
          <mat-icon>shopping_bag</mat-icon>
          <span>Listar camisas</span>
        </button>
      </mat-menu>
    </button>
    <a id="home" href="listagemproduto">Suite 420</a>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon class="btn-menu">person</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon class="btn-menu" matBadge="0">shopping_cart</mat-icon>
    </button>
  </mat-toolbar>
</p>
